
h2, h4{
    color: white
}

#title{
    background-color: cyan;
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0;
}
#menu a img{
     width: 44px;
     height: 44px; 
}
#title{
    background-image: url("1TaP.gif");
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0;
}
#menu{
    background-color: blue;
    background-image: linear-gradient(to bottom right, blue, cyan, green); 
    padding: 5px;
    overflow: hidden;
    font-size: 34px;
}
#menu #left{
    color: white;
    font-size: 34px;
    padding: 10px 14px;
    float: left;
    text-align: center;
    text-decoration: none
}
#menu #right{
    color: white;
    font-size: 34px;
    padding: 10px 14px;
    float: right;
    text-align: center;
    text-decoration: none;
}  
#menu #right:hover{
    background-color: white;
    color: black;
}
#menu #left:hover{
    background-color: white;
    color: black;
}
#taga{
    color: white;
    margin:0
}
li{
    font-size: 18px;
    color: white;
}
#container{
    display: flex;
    flex-wrap: nowrap;
    background-image: url("beautiful.png")
}
#left-side{
    flex:50%;
}
#right-side{
    flex:50%;
}
#footer{
    background-color: black;
    padding: 20px;
    color: white;
}
img{
    width:90px;
    height: 110px
}
@media(max-width: 1000px){
    #goback{
        background-color: grey;
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 24px;
        margin:0;
        text-decoration: none
    }
    #taga{
        color: white;
        margin:0
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        background-image: url("beautiful.png")
    }
    #left-side{
        flex:100%;

    }
    #right-side{
        flex:100%;

    }
}
@media(max-width: 800px){
    #goback{
        background-color: grey;
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 24px;
        margin:0;
        text-decoration: none
    }
    #taga{
        color: white;
        margin:0
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        background-image: url("beautiful.png")
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 400px){
    #goback{
        background-color: grey;
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 14px;
        margin:0;
        text-decoration: none
    }
    #taga{
        color: white;
        margin:0
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        background-image: url("beautiful.png")
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
@media(max-width: 390px){
    #goback{
        background-color: grey;
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 12px;
        margin:0;
        text-decoration: none
    }
    #taga{
        color: white;
        margin:0
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        background-image: url("beautiful.png")
    }
    #left-side{
        flex:100%;
    }
    #right-side{
        flex:100%;
    }
}
button{
    padding: 10px;
    color: black
}
#first{
    background-color: green;
    padding-right: 5px
}
#second{
    background-color: red
}
#one, #two{
    padding-left: 14px;
    color: white
}

